.container{
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    align-items: center;
    
}
.fname{
    width: 180px;
    padding: 5px;
    border: 1px  solid black;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #18181B;
    border-radius: 10px;
    justify-content: center;
    gap: 5px
}
.main{
    width: 180px;
    padding: 5px;
    border: 1px  solid black;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #18181B;
    border-radius: 10px;
    justify-content: center;
    gap: 5px
}
.del{
    color: #F55050;
  
}
.edbtn{
    border: none;
    background-color: transparent;
    display: block;
    align-items: center;
    margin-top: 5px;
    font-size: 18px;
}