.container{
    width: 100%;
    margin-top: 10px;
    color: aliceblue;
 

}
.main{
    width: 100%;
    
  margin-top: 10px;

  display: flex;
  justify-content: space-around;

}

.svg{
    display: flex; 
    align-items: center;
    gap: 15px;
    .bot{
        font-size: 25px;
    }
}
.logo{
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: underline;
}


    



